@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.gameboard {
  width: 70%;
  height: 90vh;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  transition: all 1s ease;
}

/*CLOSED CARDS*/

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 10%;
  height: 130px;
  width: 180px;
  transition: all 0.5s ease;
}

.card p {
  pointer-events: none;
  color: white;
  opacity: 0;
  transition-delay: 0.5s;
  font-family: 'Rubik', monospace;
  font-size: 45px;
  transform: rotateY(180deg);
  transition: all 0.5s ease;
  transition-delay: 0.2s;
}

/*OPEN CARDS*/

.flipped-card{
  transform: rotateY(180deg);
  background-color: hotpink;
}

.flipped-card-p p{
  opacity: 1;
}

/*COMPLETE CARDS*/

.complete {
  background-color: green;
}

/*FLIP GAMEBOARD*/

.gameboard-flipped {
  transform: rotate(360deg);
}
